go 1.26

use (
	./apps/cli-ingest-file
	./apps/web-api
	./libs/ledger/application
	./libs/ledger/core
	./libs/ledger/infrastructure/database
	./libs/ledger/infrastructure/parsers
	./libs/shared/test-util
)
